<div class="container">
  <table class="table table-hover border">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Prefered Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of players">
        <ng-template #tipContent> 
          <p class="text-left">
            Game 1: {{gameStatus[t.game1status]}} <br>
            Game 2: {{gameStatus[t.game2status]}} <br>
            Game 3: {{gameStatus[t.game3status]}}</p>
        </ng-template>
        <td><span
          placement="right" [ngbTooltip]="tipContent">{{t.name}}</span></td>
        <td>{{t.position}}</td>
        <td><button class="btn btn-danger"
              (click)="onDelete(t, content)" 
              >Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-danger">Deleting...</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> Are you sure you want to delete <span class="text-danger">{{playerToDelete.name}}</span>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">No</button>
      <button type="button" class="btn btn-danger" (click)="c('confirmYes')">Yes</button>
    </div>
  </ng-template>
  
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  
  <!-- <hr> -->
  
  <!-- <pre>{{closeResult}}</pre> -->