<div class="container">
  <form class="form-horizontal" (submit)="onSubmit()" >
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Player name:</label>
      <div class="col-sm-9">

        <!-- <span [hidden]="name.valid" class="text-danger">*Name must be at least 3 characters in length.</span> -->

        <span [hidden]="!errors.name || name.valid"  class="text-danger">*{{errors.name.message}}</span>
        <input type="text" class="form-control" id="name" placeholder="Enter player name"
          required
          minlength="3"
          name="name"
          [(ngModel)]="player.name"
          #name="ngModel"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Prefered position:</label>
      <div class="col-sm-9"> 
        <input type="text" class="form-control" id="position" placeholder="Enter position"
          name="position"
          [(ngModel)]="player.position"
        >
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <!-- <button type="submit" class="btn btn-primary" 
          [ngClass]="{'disabled':!name.valid}"
        >Add BT3</button> -->
        <button type="submit" class="btn btn-primary" 
          [disabled]="!name.valid"
        >Add</button>

        <button type="submit" class="btn btn-primary" 
          
        > Get Backend Validation Errors</button>
      </div>
    </div>
  </form>
</div>